.square{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 40px 80px 120px 160px;
    border: 2px solid black;
}

.square2{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: auto;
    border: 2px solid black;
    color: white;
    padding: 20px 30px;
    /* box-sizing: border-box; */
}