body {
    text-align: center;
    font-family: Arial;
}

.slider {
    margin-top: 50px;
}

img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}